.halaman{
    height: 60vh;
    background-image: url(alamhijau.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.halaman h2{
    color:white ;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
.halaman:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:hsl(130, 84%, 41%) ;
    opacity: 0.6;
}
section{
    padding: 50px 0;
}
footer {
    align-items: center;
    text-align: center;
    color: black;
}