body {
    background-color: rgb(188, 255, 255);
    color:rgb(0, 112, 6)
}
table {
        border: 1px solid rgb(53, 6, 0);
        margin: 1px 1px 1px 1px;
    }
p {color: rgb(82, 124, 43);}
p {
    border: 1px solid rgb(0, 0, 0);
    margin: 50px 1px 1px 1px;

    padding-top: 10px;
  
    padding-right: 10px;
  
    padding-bottom: 10px;
  
    padding-left: 10px;
    
  } 
  
  
