body {
    background-color: black;
    color:black
}
table {
        border: 1px solid rgb(53, 6, 0);
        margin: 1px 1px 1px 1px;
    }
p {color: black}
p {
    border: 1px solid rgb(0, 0, 0);
    margin: 50px 1px 1px 1px;

    padding-top: 10px;
  
    padding-right: 10px;
  
    padding-bottom: 10px;
  
    padding-left: 10px;
    
  } 
  
  
